.black{
	color: black;
}
.bg-black{
	background-color: black;
}
.bg-yellow{
	background-color:#fadd3c;
}
.header-section img{
	border-radius: 50%;
}
.col-lg-4 img{
	border-radius: 50%;
}
.portfolio-section img{
	height: 100px;
	width: 100px;
	margin: 60px 100px;
}
.name:hover{
	background-color: yellow;
	color:gray;	
}
.name{
	text-decoration: none;
	color: gray;
}
.link{
	text-decoration: none;
	
}
.cover-section p{
	font-size: 80px;
}
h1{
	font-size: 70px;
}
.bg-color2{
	background-color: black;
	color: white;
	border-color: yellow;
}
.image {
	height: 400px;
	width: 450px;
}
@media(max-width: 540px){
	.project-section .image{  
      height: 200px;
      width: 450px;
		padding-right: 200px;
		padding-left: 50px;
	}
}